Body {
    background-color: #f37520;
}
.rnd {
    color: white;
    text-align: center;  
}

a {
    text-decoration: none;
    
}
 a:hover {
     color:  #07050470;
     
 }
 p {
     color: white;
 }